<h1>登陆主页</h1>

<form action="/verify_credentials" method="post">
  <label for="browser_username">用户名</label>
  <input id="browser_username" type="text" name="input_username" placeholder="请输入你的用户名...">
  <label for="browser_password">密码</label>
  <input id="browser_password" type="password" name="input_password" placeholder="请输入你的密码...">
  <button>登陆!</button>
</form>

<hr>