<h1>注册主页</h1>

<form action="/insert_user_record">
  <label for="browser_username">用户名</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">
  <label for="browser_password">密码</label>
  <input id="browser_password" type="password" name="input_password" placeholder="请输入密码...">
  <label for="browser_password_confirmation">确认密码</label>
  <input id="browser_password_confirmation" type="password" name="input_password_confirmation" placeholder="请再次确认密码...">
  <button>注册!</button>
</form>

<hr>